In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [11]:
df = pd.read_csv("/Users/nickolaykrasnenko/Documents/GitHub/SnowFlake/Python_Analysis/Test_hse/data.csv")
df

,rollercoaster_type,excitement,excitement_rating,intensity,intensity_rating,nausea,nausea_rating,max_speed,ride_time,ride_length
0,Bobsleigh Coaster,5.49,High,5.71,High,4.86,Medium,39.0,63,1496
1,Dinghy Slide,4.83,Medium,NaN,High,NaN,Medium,37.0,48,1079
2,Wild Mouse,7.64,High,7.86,Very High,4.87,Medium,31.0,70,1591
3,Wooden Roller Coaster,7.69,High,7.92,Very High,4.75,Medium,47.0,79,2401
4,Junior Roller Coaster,5.17,High,NaN,High,NaN,Medium,34.0,51,1279
...,...,...,...,...,...,...,...,...,...,...
137,Spiral Coaster,5.39,High,5.94,High,3.79,Medium,41.0,46,1174
138,Twister Coaster,7.66,High,6.11,High,NaN,Medium,45.0,61,2221
139,Mine Train Coaster,7.59,High,7.60,High,5.80,Medium,NaN,90,2972
140,Wooden Roller Coaster,7.50,High,7.75,Very High,4.35,Medium,NaN,58,2001
141,Hypercoaster,6.17,High,44.94,Medium,2.76,Medium,NaN,61,1791

In [18]:
(df["intensity"].isna().sum() / 142).round(2)

0.18

In [28]:
new = df.groupby("intensity_rating")["nausea"].transform("median")

df["nausea"] = df["nausea"].fillna(new)

round(df["nausea"].std(), 2)

1.26

In [ ]:
avdf = df["ride_time"].mean()

dfstd = df["ride_time"].std()

first = avdf - dfstd * 1.5
second = avdf + dfstd * 1.5

df[df["ride_time"].between(first, second)]

,rollercoaster_type,excitement,excitement_rating,intensity,intensity_rating,nausea,nausea_rating,max_speed,ride_time,ride_length
0,Bobsleigh Coaster,5.49,High,5.71,High,4.86,Medium,39.0,63.0,1496
2,Wild Mouse,7.64,High,7.86,Very High,4.87,Medium,31.0,70.0,1591
3,Wooden Roller Coaster,7.69,High,7.92,Very High,4.75,Medium,47.0,79.0,2401
5,Side-Friction Roller Coaster,5.68,High,6.18,High,3.60,Medium,32.0,75.0,1466
6,Wooden Roller Coaster,7.76,Very High,NaN,High,4.68,Medium,45.0,63.0,2077
...,...,...,...,...,...,...,...,...,...,...
133,Floorless Roller Coaster,7.19,High,9.59,Very High,5.66,High,59.0,65.0,1870
134,Stand Up Roller Coaster,5.31,High,8.86,Very High,6.86,High,40.0,81.0,2359
136,Corkscrew Roller Coaster,6.14,High,5.88,High,4.05,Medium,42.0,69.0,2270
138,Twister Coaster,7.66,High,6.11,High,4.05,Medium,45.0,61.0,2221
141,Hypercoaster,6.17,High,44.94,Medium,2.76,Medium,NaN,61.0,1791